
### Operating systems ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

### Regular dev ###
node_modules
.sass-cache
npm-debug.log
.idea
*.iml

### bower ###
/bower_components/*

*.rt.js
public/scripts/packages-bin
public/scripts/packages.js
public/styles
